* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 a{
    color: #ff0000;
    text-decoration: none;
}

hr{
    color: red;
}
header,
section h2, h3 {
    font-family: "Bungee", cursive;
}

body {
    font-family: "Roboto", sans-serif;
    background-color: #000000;
}

header {
    padding: 16px 0;
    background-color: #000000;
    color: #ff0000;
}

header h1,
section h2 {
    font-weight: normal;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 24px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

nav ul li a {
    color: #ecf0f1;
    text-decoration: none;
    transition: color 0.3s; /* Adicionando uma transição para suavizar a mudança de cor */
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.movies-list img {
    height: 220px;
}

.movies-list li {
    display: inline;
    margin-right: 8px;
}

section .container {
    align-items: flex-start;
}

section {
    padding: 24px 0;
    color: #ff0000;
}

section p {
    margin-bottom: 8px;
}

.logo-lele {
    margin-right: 32px;
    width: 500px;
    
}

.streaming-links li {
    display: inline;
    margin-right: 8px;
}

#contact .container {
    display: block;
}

.contact-methods {
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    height: 500px; /* Define a altura para centralizar verticalmente */
}

form input,
form textarea,
form button { /* tamanho do formulario*/
    display: block;
    width: 160%;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

form button:hover {
    background-color: #380202;
}

input:focus,
textarea:focus {
    outline-color: #182C61;
}

.streaming-links img {
    height: 50px;
}


.streaming-links li a {
    text-decoration: none;
}

.streaming-links{
    padding-right: 10px;
}

footer{
    background-color: #ff0000;
    color:#ecf0f1;
    padding: 16px 0;
}

form button {
    background-color: #ff0000; 
    color: #ecf0f1; 
    border: none;
    cursor: pointer;
}
